//- extends baseEmail

//- block content
//-   p Hi #{firstname},
//-   p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
//-   p (Website for this action not yet implememnted.)
//-   table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
//-     tbody
//-       tr
//-         td(align='left')
//-           table(role='presentation', border='0', cellpadding='0', cellspacing='0')
//-             tbody
//-               tr
//-                 td
//-                   a(href=`${url}`, target='_blank') Reset your password
//-   p If you didn't forget your password, please ignore this email!
 
    
doctype html
html
  head
    title Change Password
  body
    h1 Reset Password
    p Hi #{firstname},
    p Forgot your password? Submit the new password here to change your password now.
    p (Website for this action not yet implememnted.)
    form(action=url method="post")
      div
        label(for="newPassword" style="margin-right: 10px;") New Password:
        input(type="password" name="newPassword" required)
      div(style="margin-top: 15px;")
        button(type="submit") Reset Password
    p If you didn't forget your password, please ignore this email!